@media only screen and (min-width: 421px) and (max-width: 1504px) and (orientation: portrait) {

  /* Main changes: slideshow change to top/bottom vs. left/right, overflow containers, font sizes, container sizes, text padding */

  * {
    font-size: 14px;
  }
  
  html, body {
    background-size: 80%;
  }

  #menu {
    height: 6%;
  }
    .tab {
      height: 100%;
      width: 22%;
      font-size: 16px;
    }
      .tab:hover {
        text-shadow: none;
      }

  #container {
    height: 90%;
  }
    .content {
      height: 95%;
      width: 90%;
    }
  
  #introduction {
    height: 76%;
    width: 95%;
    margin: 1%;
    overflow-y: auto;
    overflow-x: hidden;
  }
    #introText {
      height: 95%;
      width: 85%;
    }
      #introText p {
        margin-bottom: 4%;
      }
      #centerHome {
        text-align: center;
      }
      #centerHome, #centerHome a {
        font-size: 16px;
      }
   #resume, #linkedin, #certificate {
      height: 4%;
      width: 100%;
    }
    #links {
      height: 6%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 0;
    }
      #links a {
        width: 32%;
        text-align: center;
      }

  .excludeBullets {
    flex-direction: column;
    margin-top: 2%;
  }
    #codeImages, #artImages {
      height: 60%;
      width: 100%;
    }
      .left, .right {
        height: 75%;
        width: 10%;
        font-size: 30px;
      }
        .left:hover, .right:hover {
          background-color: transparent;
        }
      .codeImage, .artImage {
        max-height: 98%;
        max-width: 95%;
      }
    #codeDescriptions, #artDescriptions {
      height: 40%;
      width: 95%;
      align-self: center;
      margin-top: 2%;
      overflow-y: auto;
      overflow-x: hidden;
    }
      .codeDescription, .artDescription {
        height: 85%;
        width: 85%;
      }
        .codeDescription p, .artDescription p {
          padding-bottom: 3%;
        }
  .bulletContainer {
    padding: 0 8%;
    justify-content: space-around;
  }
    .bullet {
      height: 9px;
      width: 9px;
    }
    .bullet:hover {
      background-color: #0c6d63;
    }
  
  #aboutDescription {
    width: 95%;
    margin: 2% 1% 1% 1%;
    overflow-y: auto;
    overflow-x: hidden;
  }
    #aboutText {
      width: 85%;
    }
      #aboutText p {
        padding-bottom: 4%;
      }
    
  #footer {
    height: 4%;
  }

}