@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin image-scale {
  display: block;
  height: 100%;
  width: 100%;
}

// @mixin button-styles {
//   border: none;
//   background-color: transparent;
//   cursor: pointer;
// }