/* Apply hover effects if mouse is available, 
   exclude when rectangular menu format is applied 
   (large, long, and narrow screens) */
/* Doesn't work in Firefox */
@media only screen and (pointer: fine) and (min-width: 1101px) and (min-height: 701px) {
  /* Rotate animation */
  .border-circles {
    transform: rotate(0deg);
    transition: transform 0.5s ease-out;
  }
    .border-circles:hover {
      transition: transform 2s ease-in-out;
      transform: rotate(360deg);
    }
  .border-circles::before, 
  .border-circles::after, 
  .border-circles2::before, 
  .border-circles2::after, 
  .border-circles3::before, 
  .border-circles3::after, 
  .border-squares::before, 
  .border-squares::after {
    transition: border-color 3s;
  }
  /* Circles numbered clockwise by position */
  /*      1
      6       2

      5       3
          4      */
  /* Top (1) */
  .border-circles:hover::before {
    border-color: rgba(231, 199, 190, 0.3)
      rgba(231, 195, 190, 0.3) 
      rgba(231, 190, 196, 0.3)
      rgba(231, 190, 203, 0.3);
  }
  /* Bottom (4) */
  .border-circles:hover::after {
    border-color: rgba(239, 171, 151, 0.3)
      rgba(238, 153, 141, 0.3)
      rgba(237, 151, 163, 0.3) 
      rgba(238, 141, 171, 0.3);
  }
  /* Top left (6) */
  .border-circles:hover .border-circles2::before {
    border-color: rgba(252, 158, 131, 0.3)
      rgba(251, 134, 118, 0.3)
      rgba(249, 123, 141, 0.3) 
      rgba(250, 120, 160, 0.3);
  }
  /* Bottom right (3) */
  .border-circles:hover .border-circles2::after {
    border-color: rgba(234, 176, 159, 0.3)
      rgba(233, 163, 153, 0.3)
      rgba(234, 164, 174, 0.3)
      rgba(233, 156, 180, 0.3);
  }
  /* Top right (2) */
  .border-circles:hover .border-circles3::before {
    border-color: rgba(232, 189, 176, 0.3)
      rgba(232, 183, 176, 0.3)  
      rgba(232, 179, 187, 0.3)
      rgba(231, 174, 192, 0.3);
  }
  /* Bottom left (5) */
  .border-circles:hover .border-circles3::after {
    border-color: rgba(244, 164, 141, 0.3)
      rgba(244, 142, 128, 0.3)
      rgba(241, 138, 153, 0.3) 
      rgba(245, 128, 164, 0.3);
  }
  /* Box around circles */
  .border-circles:hover + .border-squares::before,
  .border-circles:hover + .border-squares::after {
    border: 1px solid rgba(25, 59, 65, 0.5);
  }

  /* Hover color change for X on overlays */
  .close-button:hover .close-x::before,
  .close-button:hover .close-x::after {
    border-color: rgba(222, 237, 239, 0.7);
  }
}